* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a1ce0e;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  /* sticky */
  position: sticky;
  top: 0;
}

.memo-container {
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  padding-left: 10rem;
  padding-right: 10rem;
}

.memo {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 2rem;
  margin: 1.4rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.memo-header {
  border-style: dashed;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2rem;
}

.memo-content {
  border-style: dashed;
  font-size: 16px;
  color: #6d6868;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.memo-date {
  border-style: dashed;
  text-align: right;
  font-size: 14px;
  color: #999;
  padding-top: 10px;
}

footer {
  border-style: dashed;
  color: rgba(72, 61, 61, 0.837);
  padding-top: 6rem;
  text-align: center;
  font-size: 14px;
}
