@charset "EUC-KR";



.bmiTable {
	border: hidden;
	margin-left:auto;
	margin-right:auto;
	width: 500px;
	height: 500px;
	font-family: 'Pacifico', cursive;
	color: #00ffff;
}

.btl {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

#title{
	font-family: 'Pacifico', cursive;
	font-size: 48px;
	opacity: 0.5;
}

.bmiTable input[type="file"] {
	position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.bmiTable label {
	display: inline-block;
  padding: 10px 20px;
  color: #00ffff;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.bmiTable button {
	display: inline-block;
  padding: 10px 20px;
  color: #00ffff;
  background-color: rgba(0,0,0,0);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
 
}











body{
   background-color: #000000;
   padding: 0px;
   margin: 0px;
 }

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}